.create-batch-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background: #27e14c;
  
}

.create-batch-container h1 {
  margin-bottom: 30px;
  text-align: center;
}

.batch-form {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #820d36;
  color: #f3f7f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group h3 {
  width: 100%;
  margin: 0 0 8px 0;
  text-align: left;
}

.form-group input,
.form-group select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.days-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.days-container label {
  display: flex;
  align-items: center;
  gap: 5px;
  color:white !important;
}

.create-button {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}